<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--主窗体插件配置-->
    <add key="MainWindow" value="SOHO.MainWindow.MainWindow" />
    <!--子模块插件配置-->
    <add key="UserControl_0" value="SOHO.About.AboutControl" />
    <add key="UserControl_1" value="SOHO.Notice.NoticeControl" />
    <add key="UserControl_2" value="SOHO.Search.SearchControl" />  
    <add key="UserControl_3" value="SOHO.Floor.FloorControl" /> 
    <add key="UserControl_4" value="SOHO.Company.CompanyControl" />
    <add key="UserControl_5" value="SOHO.Service.ServiceControl" />
    <!--界面切换动画类型-->
    <add key="ShiftUI" value="18" />
    <add key="UserCont_0" value="d8dHHC3LctDlby0xGLwg/e==" />
    <add key="UserCont_1" value="eAMVT3fyphMw+nsgbDN6he==" />
    <add key="UserCont_2" value="dc8+fiyRLYpW+LLLv85uvU7a2u/R6r1T8cAWPzk0hvd=" />
    <add key="UserCont_3" value="99" />
    <add key="Config_AppCode" value="201312191429132913233" />
    <add key="NumFonSize" value="26" />
    <add key="EnFonSize" value="22" />
    <add key="CnFonSize" value="24" />
    <add key="Building" value="A" />
    <add key="DeviceId" value="201511081621582158138" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>