<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="SqlPath" value="KOf12U/TcB0y/9s9BxpESjCOKH397osi9mb+16yaXm+Cp4E+nBeChmGBI58K1NHykNSf/jXHH46SDYJyyetR+Y37FwVIiuvCR3dVQW10iZKvmFZjMk2E5Vi4mk321Nj8FKMlrreEPQwBadEYiWyxTwmOJYP6FYTypL6/bEH1C89vdr+K3wtXc2j7iQQZoIDq"/>-->
    <add key="SqlPath" value="Sg7WxcccFcZr4YWdX7KYRQtKTdXUzXU1WxGcRDtU+6m+T3vPKbK+Pu+1eDQVbovdlWN886xBTQn4KlJsBvEki0yihK8GVr7jGk1B3kABxeYtfpWOjgrHXWaXt607z7dC9mnJPoJUfDME/t2B4PXq3/TYe3udWnxF18CYAarll1E=" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
